*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.navbar{
  height: 50px;
  width: 100%;
  background-color: turquoise;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.navelink{
  display: flex;
  align-items: center;
  gap: 30px;
}
.navelink a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navelink a:hover{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
}